
body{
  background:#5fab9b;
  font-family: Arial,sans-serif;
}

a{
  text-decoration: none;
}


div{
  margin-bottom: 20px;
}

.bton{
  background: #4f8f6e;
  color:#fff;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 15px 20px;
  margin-right: 20px;
}

.bton:hover{
  opacity: .8;
}

.small{
  font-size: 14px;
  padding: 10px 15px;


}
.medium{
  font-size: 16px;
  padding: 15px 20px;
  background: ;
}
.big{
  font-size: 18px;
  padding: 20px 25px;

}
.extra-big{
  font-size: 20px;
  padding: 25px 30px;

}

.azul{
  background: #469fdf;
}
.verde{
  background: #49d45f;
}
.naranja{
  background: #f78f3a;
}

.borde-redondo{
border-radius: 100px;
}
