body{
  background-image:url(../imagenes/universo.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.columna{
  background-color:#00a49d;

}
.colorq{
  color:white;
}
